@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&family=Inter:wght@700&display=swap');
* {
	margin: 0;
	box-sizing: border-box;
}

	:root {
		--black: #1c2133;
		--dark: #38405f;
		--medium: #647aa3;
		--light: #afc1d6;
		--white: #f7f9f7;
	}

body {
	font-family: Helvetica, sans-serif;
	color: var(--black);
	background: var(--light);
}

p {
	line-height: 130%;
	margin-bottom: 0.5rem;
}

h1, h2, h3 {
	font-family: Inter;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

/* a {
	color: var(--medium);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--dark);
} */

h2, .bbcode-container h3 {
	display: inline-block;
	margin: 1.5rem 0 0.5rem 0;
	border-bottom: 2px solid var(--black);
}
